{% block head_include %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-+qdLaIRZfNu4cVPK/PxJJEy0B0f3Ugv8i482AKY7gwXwhaCroABd086ybrVKTa0q" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/etms_support/css/alertify.rtl.min.css">
<link rel="stylesheet" href="/assets/etms_support/css/alertify.min.css">

<script src="/assets/etms_support/js/alertify.min.js"></script>
<meta name="aoes-confirm-title", content="{{_('You can Approve or Reject Site Action only once')}}"/>
<meta name="aoes-confirm-approve", content="{{_('Confirm Selection')}}"/>
<meta name="aoes-confirm-reject", content="{{_('Cancle')}}"/>



{% endblock %}
<div class="aoes-page" dir="{{ 'rtl' if lang=='ar' else lang }}"  >
    <div class="row section-one">
        <div class="col-md-4">
            <div class="form-group">
                <!-- <label for="naming_series">Serial:</label> -->
                <input type="text" id="naming_series" class="form-control-plaintext" readonly value="{{aoes.name}}"/>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="etms_erp_site">{{_("Site")}}</label>
            <input type="text" id="etms_erp_site" class="form-control" readonly value="{{aoes.etms_erp_site}}" />
        </div>
        <div class="col-md-4 form-group">
            <label for="customer_site_access_approval">{{_("Site Access Approval")}}</label>
            <select type="text" id="customer_site_access_approval" class="form-control" value="{{aoes.customer_site_access_approval}}">
                <option value="open">{{_("Open")}}</option>
                <option value="approved">{{_("Approved")}}</option>
                <option value="not_approved">{{_("Not Approved")}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="related_customer">{{_("Related Customer")}}</label>
            <input type="text" id="related_customer" readonly class="form-control" value="{{aoes.related_customer}}">
        </div>
        <div class="col-md-4 form-group">
            <label for="action_status">{{_("Action Status")}}</label>
            <input type="text" id="action_status" readonly class="form-control" value="{{aoes.action_status}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="customer_name">{{_("Customer Name")}}</label>
            <input type="text" id="customer_name" readonly class="form-control" value="{{aoes.contact_full_name}}">
        </div>
        <div class="col-md-4 form-group">
            <label for="customer_email">{{_("Customer Email")}}</label>
            <input type="text" id="customer_email" readonly class="form-control" value="{{aoes.contact_email}}">
        </div>
    </div>
    <!-- section two -->
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="site_access_purpose">{{_("Site Access Purpose")}}</label>
            <input type="text" id="site_access_purpose" readonly class="form-control" value="{{aoes.site_access_purpose}}">
        </div>
        {% if aoes.site_access_purpose == "Issue" %}
            <div class="col-md-4 form-group">
                <label for="issue_no">{{_("Issue No")}}</label>
                <input type="text" id="issue_no" readonly class="form-control" value="{{aoes.issue_no}}">
            </div>
        {% endif %}
        {% if aoes.site_access_purpose == "Other" %}
        <div class="col-md-4 form-group">
            <label for="other">{{_("Other")}}</label>
            <textarea type="text" id="other" readonly class="form-control" value="{{aoes.other}}"></textarea>
        </div>
    {% endif %}
    <!-- section three -->
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="planned_start_time">{{_("Planned Start Time")}}</label>
            <input type="text" id="planned_start_time" readonly class="form-control" value="{{aoes.planned_start_time}}">
        </div>
        <div class="col-md-4 form-group">
            <label for="expected_action_time_in_hours">{{_("Expected Action Time (In hours)")}}</label>
            <input type="text" id="expected_action_time_in_hours" readonly class="form-control" value="{{aoes.expected_action_time_in_hours}}">
        </div>
    </div>
    </div>
</div>

<style>

</style>