{% block head_include %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-+qdLaIRZfNu4cVPK/PxJJEy0B0f3Ugv8i482AKY7gwXwhaCroABd086ybrVKTa0q" crossorigin="anonymous">
{% endblock %}
<div class="container" dir="{{ 'rtl' if lang=='ar' else lang }}">
    <div class="row justify-content-center">
        <div class="input-form mb-4">
            <div class="form-group">
                <h5>{{_("Hello") + " " + full_name}}</h5>
            </div>
            <div class="form-group mb-10">
                <label for="etms-site-name" class="reqd">{{_("Related Site")}}</label>
                <select id="etms-site-name" class="custom-select form-control">
                    <option value="none" selected>{{_("Please select your site")}}</option>
                    {% for site in sites %}
                        <option value="{{site.name}}">{{site.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-10">
                <label for="etms-subject" class="reqd">{{_("Subject")}}</label>
                <input id="etms-subject" class="form-control input-lg" />
            </div>
            <div class="form-group mb-10">
                <label for="etms-description" class="reqd">{{_("Description")}}</label>
                <textarea id="etms-description" cols="30" rows="20" class="form-control input-lg"></textarea>
            </div>

            <!-- <div class="form-group my-3 mb-10">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">{{_("Add Attachment")}}</span>
                </div>
                <div class="custom-file">
                    <label class="custom-file-label" for="etms-attach-file">Choose file</label>
                </div>
            </div> -->
            
            <div class="form-group">
                <div class="etms-audio-recorder">
                    <div class="clearfix">
                        <label class="control-label" style="padding-right: 0px;">{{_("Attach Media")}}</label>
                    </div>
                    <input type="file" id="etms-attach-file" style="display: none;">
                    <button class="btn btn-default etms-play-btn" hidden type="button">
                        <i class="bi bi-play-fill"></i>
                    </button>

                    <button class="btn btn-default etms-record-btn" type="button">
                        <i class="bi bi-mic-fill"></i>
                    </button>
                    <!-- bi bi-stop-fill -->
                    <button class="btn btn-default etms-trash-btn" hidden type="button">
                        <i class="bi bi-trash"></i>
                    </button>
                    <p class="etms-recorder-timer"></p>
                    <!-- <span class="vertical-divider"></span> -->
                    <input type="file" id="etms-attach-file" style="display: none;">
                    <div style="margin-top: 10px; display: flex; align-items: end;">
                        <button class="btn btn-default etms-attach-btn" type="button">
                            <i class="bi bi-paperclip"></i>
                        </button>
                        <span style="margin: 0px 10px 0px 10px" id="etms-attached-file-name"></span>
                    </div>
                    <p class="help-box small text-muted"></p>
                </div>
            </div>

            <div class="form-group" style="display: flex; flex-direction: column; align-items: center; margin-top: 40px;">
                <div class="etms-spinner" style="display: inline-block; margin-bottom: 20px;" hidden>
                    <div class="spinner-border spinner-border text-success" role="status">
                    </div>
                </div>
                <button class="btn btn-primary btn-block" id="etms-submit-ticket">{{_("Submit Ticket")}}</button>
            </div>
            <div class="alert alert-success" hidden></div>
            <div class="alert alert-danger" hidden>{{_("Could not submit your ticket")}}</div>
        </div>
    </div>
</div>

<style>
    .container {
        margin-top: 50px;
    }

    .input-form {
        width: 65%;
    }

    .table-header {
        /* display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 5px; */
    }
    .vertical-divider {
        display: inline-block;
        border-right: 1px solid gray;
        height: 24px;
        margin: 0px 10px -8px 10px;
    }
    .reqd:after {
        content:" *";
        color: red;
    }
    .etms-attack-button {
    }
    .etms-attached-files-badge {
    }
    select.form-control {
        padding: 0px 10px 0px 10px;
    }
</style>