<div class="tickets-page">
    <div class="row">
        <div class="col-md-8">
            <!-- Header -->
            <div class="table-header">
                <h5>{{ company }} {{_("Support")}}</h5>
                <button class="btn btn-warning btn-sm" onclick="location.href='/etms-support/new-ticket'">New Ticket</button>
            </div>
            <!-- Tickets Table -->
            <table class="table">
                <tbody>
                    {% for ticket in tickets %}
                    <tr>
                        <td>
                            <div class="ticket-anchor">
                                <a href="/etms-support/ticket?name={{ticket.name}}">
                                    <div>
                                        <h5>{{ticket.subject}}</h5>
                                        <small>{{ticket.creation.strftime("%b %d, %Y, %H:%M %p")}}</small>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <span class="badge badge-secondary">{{ticket.department}}</span>
                        </td>
                        <td>
                            {% if ticket.status == "Open" %}
                                <span class="badge badge-success">{{ticket.status}}</span>
                            {% elif ticket.status == "Waiting Replay" %}    
                                <span class="badge badge-warning">{{ticket.status}}</span>
                            {% else %}
                                <span class="badge badge-danger">{{ticket.status}}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .tickets-page {
        /* width: 65%; */
    }
    .ticket-anchor > a,
    .ticket-anchor > a:hover {
        text-decoration: none;
        color: black;
    }
    .table-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    td {
        vertical-align: middle;
    }
    .badge-secondary {
        color: #000;
        background-color: #e6f2ff;
    }
</style>