{% block head_include %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-+qdLaIRZfNu4cVPK/PxJJEy0B0f3Ugv8i482AKY7gwXwhaCroABd086ybrVKTa0q" crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.11.4/datatables.min.css"/> 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.11.4/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
<meta name="next_translation" content="{{_('Next')}}" />
<meta name="previous_translation" content="{{_('Previous')}}" />
<meta name="nodata_translation" content="{{_('No Data to show')}}" />

{% endblock %}

<div class="tickets-page" dir="{{ 'rtl' if lang=='ar' else lang }}">
    <div class="row">
        <div class="col-md-8">
            
            <!-- Header -->
            <div class="table-header">
                {% if frappe.session.user != "Guest" %}
                <button class="btn btn-warning btn-sm" onclick="location.href='/etms-support/new-ticket'">{{_("New Ticket")}}</button>
                {% endif %}
            </div>
            <a href="/me" style="margin-bottom: 20px" class="font-size-sm d-block mb-8 text-muted">{{_("Back to MyAcount")}}</a>
            {% if frappe.session.user == "Guest" %}
            <h6>{{_("Login first to create support tickets.")}}</h6>
            {%endif%}

            <!-- Tickets Table filters -->
            <div class="etms-search-filters form-group">
                <select id="etms-search-filters-site" class="form-control">
                    <option selected value="none">{{_('Site')}}</option>
                    {% for site in sites %}
                    <option value="{{site.name}}">{{site.name}}</option>
                    {% endfor %}
                    
                </select>
                <select id="etms-search-filters-status" class="form-control">
                    <option selected value="none">{{_('Status')}}</option>
                    <option value="open">{{_("Open")}}</option>
                    <option value="closed">{{_("Closed")}}</option>
                    <option value="replied">{{_("Replied")}}</option>
                </select>
                <button class="btn btn-default etms-clear-filters" type="button" style="width: auto;">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            
            <!-- Tickets Table -->
            <table class="table" id="tickets-table" style="visibility: hidden;">
                <thead>
                    <tr>
                        <th>{{_("Subject")}}</th>
                        <th>{{_("Issue Type")}}</th>
                        <th>{{_("Site")}}</th>
                        <th>{{_("Status")}}</th>
                    </tr>

                </thead>
                <tbody>
                    {% for ticket in tickets %}
                    <tr>
                        <td>
                            <div class="ticket-anchor">
                                <a href="/etms-support/ticket?name={{ticket.name}}">
                                    <div>
                                        <h5>{{ticket.subject}}</h5>
                                        <small>{{ticket.creation.strftime("%b %d, %Y, %H:%M %p")}}</small>
                                    </div>
                                </a>
                            </div>
                        </td>
                        
                        <td>
                            <span class="badge badge-secondary">{{_(ticket.issue_type)}}</span>
                        </td>
                        <td>
                            <p>{{ticket.related_site}}</p>
                        </td>
                        
                        <td>
                            {% if ticket.status == "Open" %}
                                <span class="badge badge-success">{{_(ticket.status)}}</span>
                            {% elif ticket.status == "Replied" %}    
                                <span class="badge badge-warning">{{_(ticket.status)}}</span>
                            {% else %}
                                <span class="badge badge-danger">{{_(ticket.status)}}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .tickets-page {
        /* width: 65%; */
    }
    .ticket-anchor > a,
    .ticket-anchor > a:hover {
        text-decoration: none;
        color: black;
    }
    .table-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    td {
        vertical-align: middle;
    }
    .badge-secondary {
        color: #000;
        background-color: #e6f2ff;
    }

    .etms-search-filters {
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
    }
    .etms-search-filters > * {
        width: 20%;
        margin-inline-end: 10px;
    }
</style>