{% block head_include %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-+qdLaIRZfNu4cVPK/PxJJEy0B0f3Ugv8i482AKY7gwXwhaCroABd086ybrVKTa0q" crossorigin="anonymous">

<meta name="replay-submitted-text", content="{{_('Your Replay Submitted, Thank you!')}}"/>
<meta name="faild-submit-text" content="{{_('Could not submit your ticket, please try again.')}}"/>
<meta name="replay-text-required-text" content="{{_('Replay text is required.')}}" />
<meta name="faild-close-ticket-text" content="{{_('Could not close your ticket, please try again.')}}" />
<meta name="allow-mic-text" content="{{_('Please Allow Microphone Access.')}}" />
<meta name="closed-ticket-text" content="{{_('Your Ticket Closed, Thank you!')}}" />

{% endblock %}
<div class="replay-page" dir="{{ 'rtl' if lang=='ar' else lang }}"  >
    <div class="row">
        <div class="col-md-8">
            <!-- Header -->
            <a href="/etms-support/tickets" class="font-size-sm d-block mb-8 text-muted">{{_("Back to Support Tickets")}}</a>
            <div class="replay-header">
                <h5>{{ticket.name}}</h5>
                <div style="text-align: center;">
                    <h5 style="margin-bottom: 5px;">{{_(ticket.subject)}}</h5>
                    {% if ticket.status == "Open" %}
                    <span class="badge badge-success">{{_(ticket.status)}}</span>
                    {% elif ticket.status == "Replied" %}
                    <span class="badge badge-warning">{{_(ticket.status)}}</span>
                    {% else %}
                    <span class="badge badge-danger">{{_(ticket.status)}}</span>
                    {% endif %}
                    
                </div>
            </div>
            <p class="badge badge-secondary">{{_(ticket.issue_type)}}</p><br>
            {% for att in attachments %}
                {% if att.file_url.endswith(".webm") %}
                    <button id="paudio-play" 
                        class="btn btn-warning btn-sm" 
                        style="margin: 0px 5px 0px 5px" 

                        onclick='playAudio("{{att.file_url}}", "#paudio-play", "#etms-play-timer")'>
                        <i class="bi bi-play"></i>
                        <!-- {{_("Play Record")}} -->
                    </button>
                    
                    {% else %}
                    <a href="{{ att.file_url }}" target="_blank">
                        <button type="button" class="btn btn-warning btn-sm">
                            <i class="bi bi-paperclip"></i>
                            <!-- {{_("Open Attachment")}} -->
                        </button>
                    </a>
                    <p id="etms-play-timer" style="margin-top: 5px;"></p>
                {%endif%}
            {% endfor %}
            <!-- first replay, ticket details -->
            <div class="mt-8">
                <div class="media">
                    <img class="profile-image-first" src="{{user_details.user_image or '/assets/frappe/images/default-avatar.png'}}" class="mr-3 rounded-circle"
                        alt="{{ full_name }}">
                    <div class="media-body">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <h6 class="mb-4 mt-3 mr-2 badge badge-secondary">{{user_details.full_name}}</h6>
                            <div class="font-size-sm text-muted">{{ticket.creation.strftime("%b %d, %Y, %H:%M %p")}}
                            </div>
                        </div>
                        <div class="d-flex rounded px-4 pt-2 pb-5 text-bubble" data-darkreader-inline-bgcolor="">
                            <p>{{ticket.description}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- comments list -->
            {% for comment in comments %}
            <div class="mt-8">
                <div class="media">
                    <img class="profile-image" src="{{comment.user_details.user_image or '/assets/frappe/images/default-avatar.png'}}" class="mr-3 rounded-circle">
                    <div class="media-body">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <h6 class="mb-4 mt-3 badge badge-secondary">{{ comment.user_details.full_name }}</h6>
                            <div class="font-size-sm text-muted">{{comment.creation.strftime("%b %d, %Y, %H:%M %p")}}
                            </div>
                        </div>
                        <div class="d-flex justify-content-between rounded px-4 pt-2 pb-5 text-bubble" data-darkreader-inline-bgcolor="">
                            <p>{{comment.content}}</p>
                        </div>
                        <div class="att-container">
                            {% set outer_loop = loop %}
                            {% for att in comment.comment_attachments %}
                                {% if att.file_url.endswith(".webm") %}
                                
                                <button 
                                    id="paudio-replay-play-{{outer_loop.index}}"
                                    class="btn btn-warning btn-sm" 
                                    onclick='playAudio("{{att.file_url}}", "#paudio-replay-play-{{outer_loop.index}}", "#etms-replay-play-timer-{{outer_loop.index}}")'
                                    style="height: 30px;">
                                    <i class="bi bi-play"></i>
                                    <!-- {{_("Play Record")}} -->
                                </button>
                                <br>
                                {% else %}
                                <a href="{{ att.file_url }}" target="_blank">
                                    <button type="button" class="btn btn-warning btn-sm" style="height: 30px;  margin: 0px 10px 0px 10px;">
                                        <i class="bi bi-paperclip"></i>
                                        <!-- {{_("Open Attachment")}} -->
                                    </button>
                                    
                                </a>
                                {%endif%}
                            {% endfor %}
                                <p id="etms-replay-play-timer-{{outer_loop.index}}" style="margin-top: 8px;visibility: hidden;">00:00 / 00:00 min</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if ticket.status != "Closed" %}
            <!-- replay box -->
            <div class="input-form replay-box">
                <div class="form-group mb-10">
                    <label for="etms-replay-textarea">{{_("Your replay")}}</label>
                    <textarea id="etms-replay-textarea" cols="30" rows="40" class="form-control input-lg"
                    style="height: 200px;"></textarea>                    
                    <div class="etms-audio-recorder mt-3">
                        <!-- <div class="clearfix">
                            <label class="control-label" style="padding-right: 0px;">Attach Media</label>
                        </div> -->
                        <input type="file" id="etms-attach-file" style="display: none;">
                        <button class="btn btn-default etms-play-btn" hidden type="button">
                            <i class="bi bi-play-fill"></i>
                        </button>
    
                        <button class="btn btn-default etms-record-btn" type="button">
                            <i class="bi bi-mic-fill"></i>
                        </button>
                        <!-- bi bi-stop-fill -->
                        <button class="btn btn-default etms-trash-btn" hidden type="button">
                            <i class="bi bi-trash"></i>
                        </button>
                        <p class="etms-recorder-timer"></p>
                        <!-- <span class="vertical-divider"></span> -->
                        <div style="margin-top: 10px; display: flex; align-items: end;">
                            <input type="file" id="etms-attach-file" style="display: none;">
                            <button class="btn btn-default etms-attach-btn" style="width: auto;" type="button">
                                <i class="bi bi-paperclip"></i>
                            </button>
                            <span style="margin: 0px 10px 0px 10px" id="etms-attached-file-name"></span>
                        </div>
                        <!-- <div class="etms-spinner" style="display: inline-block; padding-left: 30px;">
                            <div class="spinner-border spinner-border text-success" role="status">
                            </div>
                        </div> -->
                        <p class="help-box small text-muted"></p>
                    </div>
                        
                </div>
                <div class="form-group replay-box__buttons">
                    <button class="btn btn-primary mr-10" id="etms-submit-replay"
                        style="margin-right: 8px;">{{_("Replay")}}</button>

                    <button class="btn btn-danger" id="etms-close-ticket">{{_("Close Ticket")}}</button>

                </div>

                <div class="alert alert-success" hidden></div>
                <div class="alert alert-danger" hidden></div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<style>
    .ticket-page {
        margin-top: 50px;
    }

    .replay-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .replay-box {
        margin-top: 60px;
    }
    .replay-box__buttons {
        display: flex;
        justify-content: space-between;
    }
    .profile-image-first {
        width: 4rem;
        height: 4rem;
        object-fit: fill;
        border-radius: 6px;
        border: solid gray 2px;
        margin: 0px 8px 0px 0px;
        box-shadow: deeppink;
        box-shadow: 0 5px 16px rgb(0 109 0 / 15%);
    }

    .profile-image {
        width: 3.3rem;
        height: 3.3rem;
        object-fit: fill;
        border-radius: 6px;
        border: solid gray 2px;
        margin: 0px 8px 0px 0px;
        box-shadow: deeppink;
        box-shadow: 0 5px 16px rgb(0 109 0 / 15%);
    }
    .media {
        position: relative;
    }
    .text-bubble {
        background-color: #e6f2ff;
        --darkreader-inline-bgcolor: var(--darkreader-bg--gray-100);
    }
    .vertical-divider {
        display: inline-block;
        border-right: 1px solid gray;
        height: 24px;
        margin: 0px 10px -8px 10px;
    }
    .att-container {
        position: absolute;
        right: -28px;
        bottom: -60px;
    }
</style>